.idea/
.dotest/
*.ipr
*.iml
*.iws
*.ids
*.patch
out/
build.properties
tomcat-users.xml
*.war
client_temp_flex_config.xml
winstone.properties
server/src/main/context/*-service.xml
server/src/main/context/*-inst-*.xml
server/src/web/icons/
server/src/web/images/
server/src/web/ws/
server/src/web/locale/
server/src/web/build.num
server/src/web/ApplicationResource.properties
server/src/web/flex-config.xml
server/src/web/mxml-manifest.xml
server/src/web/FlexFuse.swf
server/src/web/flex-config.xml
server/src/web/build.num
server/src/web/ResourceModule_en_US.swf
server/src/web/ResourceModule_ru.swf
lib/core/
*~
atlassian-ide-plugin.xml
logs/
